* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}


a:hover {
	text-decoration: none;
}



.register {
	background-color: #F5F5F5;
	margin-top: 20px;
	margin-bottom: 20px;
}

.register-buttons {
	margin-bottom: 20px;
}

.footer {
	padding-bottom: 20px;
	background-color: #f8f9fa;
	border-top: 2px solid #f0f0f0;
}

.beian p {
	margin-top: 20px;
	text-align: center;
}
